################################################################################
### LLM PROVIDER
################################################################################
### OPENAI
OPENAI_API_KEY=<YOUR OPENAI KEY HERE>


################################################################################
### Upload Directory
################################################################################
UPLOAD_DIRECTORY='path_to_your_upload_directory'
